body{
margin:0;
font-family:sans-serif;
background:#0B1F33;
color:white;
}

header{
padding:20px;
}

.titleArea{
text-align:center;
}

.version{
margin-top:8px;
color:#BBBBBB;
}

.modeSwitch{
display:flex;
justify-content:center;
gap:12px;
margin-top:20px;
}

.modeSwitch button{
border:none;
padding:14px 24px;
border-radius:12px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

.active{
background:#FF7A00;
color:white;
}

.normal{
background:#132B45;
color:white;
}

main{
padding:20px;
padding-bottom:40px;
}

.menuCard{
background:#132B45;
border-left:5px solid #FF7A00;
padding:22px;
border-radius:14px;
margin-bottom:16px;
font-size:18px;
font-weight:bold;
cursor:pointer;
text-align:center;
color:white;
transition:0.2s;
}

.menuCard:hover{
transform:scale(1.01);
}

.page{
display:none;
}

.card{
background:#10253D;
padding:22px;
border-radius:14px;
margin-top:25px;
color:white;
line-height:1.8;
}

.backBtn{
width:100%;
border:none;
padding:16px;
border-radius:14px;
background:#132B45;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
margin-bottom:25px;
}

.formula{
background:#132B45;
padding:18px;
border-radius:12px;
margin-top:20px;
line-height:1.8;
text-align:center;
}

input,
select{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#132B45;
color:white;
font-size:18px;
box-sizing:border-box;
margin-top:10px;
}

.resultBox{
background:#132B45;
padding:20px;
border-radius:14px;
margin-top:25px;
text-align:center;
}

.resultTitle{
color:#BBBBBB;
margin-bottom:10px;
}

.resultValue{
font-size:32px;
font-weight:bold;
color:#FF7A00;
}

.totalBox{
background:#FF7A00;
padding:24px;
border-radius:14px;
margin-top:35px;
text-align:center;
color:#0B1F33;
}

.totalTitle{
font-size:18px;
margin-bottom:10px;
}

.totalValue{
font-size:36px;
font-weight:bold;
}

.noticeBox{
background:#FF7A00;
color:#0B1F33;
padding:20px;
border-radius:14px;
margin-top:25px;
text-align:center;
font-size:24px;
font-weight:bold;
}

.hidden{
display:none;
}

footer{
padding:20px 30px 30px 30px;
text-align:center;
color:#BBBBBB;
line-height:1.8;
}

.footerText{
margin-bottom:20px;
}

.historyBox{
margin-top:30px;
background:#132B45;
padding:20px;
border-radius:14px;
text-align:left;
}

.historyBox h3{
margin-top:0;
color:#FF7A00;
}

.historyText{
line-height:1.8;
color:#DDDDDD;
}

h2{
margin-top:0;
margin-bottom:20px;
}

h3{
color:#FF7A00;
}
.resetBtn{

width:100%;

border:none;

padding:18px;

border-radius:14px;

background:#FF7A00;

color:#0B1F33;

font-size:20px;

font-weight:bold;

margin-top:30px;

cursor:pointer;

}

.subTitle{

font-size:16px;

font-weight:bold;

margin-top:6px;

opacity:0.9;

}